@import url(partial/variables.css); @import url(fonts.css); @import url(_globla.css);

.header_area .main-menu .navbar-nav .active{
    font-family: var(--font);
    font-weight: 500;
}

.header_area .main-menu .active:hover{
    background: rgb(46,71,140);
    background: var(--gradient-color);
    color: white;
}

.header_area .main-menu .navbar-nav .active a{
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.seta-baixo u{
    font-size: 2rem;
    color: black;
    font-weight: 900;
    
}

.img-fluid{
    position: absolute;
    left: 56%;
    bottom: 21%;

}

.dev-banner{
    position: absolute;
    left: 72%;
    text-decoration: none;
}

.credit-text{
    position: absolute;
    left: 65%;
    bottom: 18.4%;
}

.header_area .main-menu .navbar{
    -webkit-box-shadow: 5px 7px 27px 9px rgba(0,0,0,0.62); 
   box-shadow: 5px 7px 27px 1px rgba(0,0,0,0.62);
}

.site-text{
position: relative;
top: 20%;
}

.title-text{
    position: relative;
    top: 20%;
}

.primary-button{
    display: inline-block;
    position: absolute;
    top: 51%;
}

.secondary-button {
    display: inline-block;
    position: absolute;
    top: 51%;
    left: 26%;
}

.header_area{
    background: fixed;
}

.primary-button:hover{
    background: var(--gradient-color);
    color: aliceblue;
}

.secondary-button:hover{
    background: var(--gradient-color);
    color: aliceblue;
}

.primary-button{
    background: var(--gradient-color);
    color: aliceblue;
}

.secondary-button{
    background: var(--gradient-color);
    color: aliceblue;
    text-decoration: none;
}

.button.primary-button{
    box-shadow: 5px 7px 25px 0.6px rgba(0,0,0,0.62);
}

.button.secondary-button{
    box-shadow: 5px 7px 25px 0.6px rgba(0,0,0,0.62);
}
